@model PhotoMarathon.Data.Entities.BlogItem
@{
    Layout = null;
}
<div class="box col-sm-8">
    <div class="thumb featured">
        <div class="photo">
            <a href="~/blog/article/@Model.Id">
                <img src="~/images/Blog/@Model.MainImageName" alt="" width="715" height="715" class="img-responsive" style="min-height:554.48px;">
                <span class="info">
                    <strong class="big-title">@Model.Title</strong>
                    <span class="excerpt">@Model.ShortDescription</span>
                    <em class="arrow-right"></em>
                </span>
            </a>
        </div>
    </div>
</div>