@model PhotoMarathon.Data.Entities.BlogItem
@{
    Layout = null;
}
<div class="box col-sm-8">
    <div class="owl-carousel owl-testimonials owl-red-dots owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-1110px, 0px, 0px); transition: 0s; width: 3330px;">
                <div class="owl-item cloned" style="width: 555px; margin-right: 0px;">
                    <img src="~/images/Blog/@Model.MainImageName" width="1140" height="1140" alt="">
                </div><div class="owl-item cloned" style="width: 555px; margin-right: 0px;">
                    <img src="~/images/Blog/@Model.MainImageName" width="1140" height="1140" alt="">
                </div><div class="owl-item active" style="width: 555px; margin-right: 0px;">
                    <img src="~/images/Blog/@Model.MainImageName" width="1140" height="1140" alt="">
                </div><div class="owl-item" style="width: 555px; margin-right: 0px;"><img src="~/images/Blog/@Model.MainImageName" width="1140" height="1140" alt=""></div><div class="owl-item cloned" style="width: 555px; margin-right: 0px;"><img src="../img/sample-testimonial.png" width="1140" height="1140" alt=""></div><div class="owl-item cloned" style="width: 555px; margin-right: 0px;"><img src="../img/sample-testimonial.png" width="1140" height="1140" alt=""></div>
            </div>
        </div><div class="owl-controls">
            <div class="owl-nav">
                <div class="owl-prev" style="display: none;"></div>
                <div class="owl-next" style="display: none;"></div>
            </div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div>
        </div>
    </div>
</div>