@model List<PhotoMarathon.Data.Entities.BlogItem>
@{
    ViewData["Title"] = "Blog";
    var counter = 1;
}

<main id="content" role="main">
    <div class="container container-masonry">
        <div class="inner">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        @*<div class="clear"></div>*@
                        @foreach (var blogItem in Model)
                        {
                            @Html.Partial("_Article_" + counter, blogItem)
                            counter++;
                        }

                        <div class="box col-sm-12 text-center">
                            <div class="margin-2"></div>
                            @for (int i = 1; i <= ViewBag.Pages; i++)
                            {
                                <a href="~/blog/@i" class="button @(i == ViewBag.CurrentPage ? "filled":"")">1</a>
                            }
                            @*<a href="blog-sidebar.html" class="button filled">1</a>
                                <a href="blog-sidebar.html" class="button">2</a>
                                <span class="margin-left-right">…</span>
                                <a href="blog-sidebar.html" class="button">8</a>
                                <a href="blog-sidebar.html" class="button">Next</a>*@
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="widget widget_search">
                        <form class="searchform" method="get" action="search.html">
                            <input type="text" value="" name="s" placeholder="Search…">
                            <input type="submit" value="">
                        </form>
                    </div>

                    <div class="widget">
                        <h6 class="title">Despre noi</h6>
                        <p class="no-bottom">PHOTO MARATHON este singurul eveniment din România care oferă atât fotografilor amatori, cât şi celor profesionişti, oportunitatea de a experimenta arta fotografică, într-o manieră inedită, punându-le la încercare imaginaţia şi creativitatea.</p>
                    </div>

                    <div class="widget widget_categories">
                        <h6 class="title">Categorii</h6>
                        <ul>
                            <li class="cat-item"><a href="blog.html">Advertising</a></li>
                            <li class="cat-item current-cat"><a href="blog.html">Branding</a></li>
                            <li class="cat-item"><a href="blog.html">Marketing</a></li>
                        </ul>
                    </div>

                    <div class="widget widget_archives">
                        <h6 class="title">Archives</h6>
                        <ul class="fa-ul">
                            <li class="cat-item current-cat">
                                <i class="fa-li fa fa-caret-down fa-colored"></i><a href="blog.html">2015</a>
                                <ul class="fa-ul">
                                    <li class="cat-item"><i class="fa-li fa fa-caret-right"></i><a href="blog.html">Jan</a> (15)</li>
                                    <li class="cat-item"><i class="fa-li fa fa-caret-right"></i><a href="blog.html">Mar</a> (9)</li>
                                    <li class="cat-item"><i class="fa-li fa fa-caret-right"></i><a href="blog.html">Jun</a> (12)</li>
                                    <li class="cat-item"><i class="fa-li fa fa-caret-right"></i><a href="blog.html">Aug</a> (3)</li>
                                </ul>
                            </li>
                            <li class="cat-item"><i class="fa-li fa fa-caret-right"></i><a href="blog.html">2014</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<link rel="stylesheet" href="~/css/Blog/blog.css" />
@section scripts{
    <script>
        $(document).ready(function () {
            Main.SetActiveMenuItem(6);
        })
    </script>
}