<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="navbar-header">
            <a href="../../index2.html" class="navbar-brand"><b>Admin</b>Photo Marathon</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/images/avatar3.png" class="user-image" alt="User Image">
                        <span class="hidden-xs">Admin</span>
                    </a>
                </li>
                <li class="dropdown user user-menu">
                    <form asp-action="logout" asp-controller="account" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="logout-btn" style="display:inline-block;">Sign out</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>