@model PhotoMarathon.Data.Entities.ContactMessage
@{
    ViewData["Title"] = "Contact";
}

<main id="content" role="main">
    <div class="container container-boxes">
        <div class="row">
            <div class="col-sm-6">
                <div class="box" style="background-image:url(img/sample-inside.png);line-height:10px;">
                    <h3 class="ubuntu-font">Contactează-ne</h3>
                    <p>
                        Vrei să afli mai multe informații despre Photo Marathon sau pur și simplu ai sugestii și recomandări pentru noi? Scrie-ne!
                    </p>
                    <p class="small contact-address-info">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="~/images/deliam.jpg" />
                            </div>
                            <div class="col-md-8" style="padding-top:23px;">
                                <div><i class="fa fa-map-marker"></i> &nbsp; Delia Mihuț</div><br />
                                <div><i class="fa fa-pencil"></i> &nbsp; PR&Marketing</div><br />
                                <div>
                                    <i class="fa fa-envelope"></i><a href="mailto:delia.mhut@nativ.biz" style="font-size:15px;"> &nbsp; delia.mhut@nativ.biz</a>
                                </div><br />
                                <div><i class="fa fa-phone"></i> &nbsp; 0727 551 117</div><br />
                            </div>
                        </div>
                    </p>
                    <p class="small contact-address-info">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="~/images/stef.jpg" />
                            </div>
                            <div class="col-md-8" style="padding-top:23px;">
                                <div><i class="fa fa-map-marker"></i> &nbsp; Ştefana Frîncu</div><br />
                                <div><i class="fa fa-pencil"></i> &nbsp; Junior Project Manager</div><br />
                                <div>
                                    <i class="fa fa-envelope"></i><a href="mailto:stefana.frincu@nativ.biz" style="font-size:15px;"> &nbsp; stefana.frincu@nativ.biz</a>
                                </div><br />
                                <div><i class="fa fa-phone"></i> &nbsp; 0752 171 812</div><br />
                            </div>
                        </div>
                    </p>
                    <p class="small contact-address-info">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="~/images/rux.jpg" />
                            </div>
                            <div class="col-md-8" style="padding-top:23px;">
                                <div><i class="fa fa-map-marker"></i> &nbsp; Ruxandra Zaharia</div><br />
                                <div><i class="fa fa-pencil"></i> &nbsp; Manager</div><br />
                                <div>
                                    <i class="fa fa-envelope"></i><a href="mailto:ruxandra.zaharia@nativ.biz" style="font-size:15px;"> &nbsp; ruxandra.zaharia@nativ.biz</a>
                                </div><br />
                                <div><i class="fa fa-phone"></i> &nbsp; 0746 575 945</div><br />
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box">
                    <h5>Trimite-ne un mesaj</h5>
                    <div class="sep red"></div>
                    <div class="margin-1"></div>
                    <form asp-controller="Contact" asp-action="Message" class="no-bottom">
                        <label asp-for="Name" class="sr-only">Nume</label>
                        <input asp-for="Name" type="text" class="underline" name="name" placeholder="Nume..." required>
                        <span asp-validation-for="Name" class="input-validation-side rubberBand"></span>
                        <label asp-for="EmailAddress" class="sr-only">Email</label>
                        <input class="underline" asp-for="EmailAddress" placeholder="Adresă de email..." required>
                        <span asp-validation-for="EmailAddress" class="input-validation-side rubberBand"></span>
                        <label asp-for="Message" class="sr-only">Mesaj</label>
                        <textarea asp-for="Message" class="underline" cols="30" rows="6" placeholder="Mesaj..." required></textarea>
                        <div class="margin-1"></div>
                        <input type="submit" value="Trimite">
                    </form>
                </div>
                <div class="box text-center">
                    <h5>Conectează-te cu noi</h5>
                    <p>Urmărește-ne, trimite-ne idei</p>
                    <p class="social-share no-bottom">
                        <a href="https://www.facebook.com/photomarathon.ro/" target="_blank" class="social-link"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/photomarathon.ro/" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a>
                        <a href="https://ro.pinterest.com/photomarathon/" target="_blank" class="social-link"><i class="fa fa-pinterest"></i></a>
                        <a href="https://www.youtube.com/channel/UC7xgv1Th5Fd3YbrEYqzAoyA" target="_blank" class="social-link"><i class="fa fa-youtube"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-3"></div>
</main>

@section scripts{
    <script>
        $(document).ready(function () {
            Main.SetActiveMenuItem(7);
        })
    </script>
}