@{
    ViewData["Title"] = "Contact";
}

<main id="content" role="main">
    <div class="container container-boxes">
        <div class="row">
            <div class="col-sm-6">
                <div class="box white-bg" style="background-image:url(img/sample-inside.png);line-height:10px;">
                    <h3>Fii voluntar!</h3>
                    <p>
                        Voluntarul Photo Marathon este în primul rând entuziast și pasionat de fotografie. Îi place să lucreze în echipă, este amabil și deschis provocărilor. Nu se teme să pună întrebări și este punctual, fiind un adevărat sprijin pentru echipa Photo Marathon și pentru participanți.
                        Dacă te identifici cu cele menționate și ești dispus să investești timp în desfășurarea celui mai amplu maraton fotografic din România, hai în echipa noastră! Tot ce trebuie să faci este să completezi formularul de aplicare, după care vei fi contactat de noi.
                        Nu uita, doar împreună punem arta fotografică în mișcare!
                    </p>
                    <h5>Inscrie-te</h5>
                    <div class="sep red"></div>
                    <div class="margin-1"></div>
                    <form action="contact1.html" class="no-bottom">
                        <label for="name" class="sr-only">Nume</label>
                        <input type="text" class="underline" name="name" id="name" placeholder="Nume si prenume" required>
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" class="underline" name="email" id="email" placeholder="Adresa de email..." required>
                        <label for="message" class="sr-only">Voluntar</label>
                        <textarea class="underline" name="message" id="message" cols="30" rows="6" placeholder="De ce vrei să fii voluntar la Photo Marathon?" required></textarea>
                        <label for="message" class="sr-only">Voluntar</label>
                        <textarea class="underline" name="message" id="message" cols="30" rows="6" placeholder="În ce activități de voluntariat te-ai implicat până acum?" required></textarea>
                        <label for="message" class="sr-only">Voluntar</label>
                        <textarea class="underline" name="message" id="message" cols="30" rows="6" placeholder="Cum ai vrea să te implici în Photo Marathon?" required></textarea>
                        <div class="margin-1"></div>
                        <input type="submit" value="Trimite">
                    </form>
                </div>
            </div>
            <div class="col-sm-6">

                <div class="box white-bg" style="background-image:url(img/sample-inside.png);line-height:10px;">
                    <h3>Contacteaza-ne</h3>
                    <p>
                        Vrei să afli mai multe informații despre Photo Marathon sau pur si simplu ai sugestii și recomandări pentru noi? Scrie-ne!
                    </p>
                    <p class="small contact-address-info">
                        <div><i class="fa fa-map-marker"></i> &nbsp; Delia Mihuț</div><br />
                        <div>
                            <i class="fa fa-envelope"></i><a href="mailto:delia.mihut@photomarathon.ro"> &nbsp; delia.mihut@photomarathon.ro</a>
                        </div><br />
                        <div><i class="fa fa-phone"></i> &nbsp; 0727 551 117</div><br />
                    </p>
                    <p class="small contact-address-info">
                        <div><i class="fa fa-map-marker"></i> &nbsp; Ştefana Frîncu</div><br />
                        <div>
                            <i class="fa fa-envelope"></i><a href="mailto:stefana.frincu@photomarathon.ro"> &nbsp; stefana.frincu@photomarathon.ro</a>
                        </div><br />
                        <div><i class="fa fa-phone"></i> &nbsp; 0752 171 812</div><br />
                    </p>
                    <p class="small contact-address-info">
                        <div><i class="fa fa-map-marker"></i> &nbsp; Ruxandra Zaharia</div><br />
                        <div>
                            <i class="fa fa-envelope"></i><a href="mailto:ruxandra.zaharia@photomarathon.ro"> &nbsp; ruxandra.zaharia@photomarathon.ro</a>
                        </div><br />
                        <div><i class="fa fa-phone"></i> &nbsp; 0746 575 945</div><br />
                    </p>
                </div>
                <div class="box white-bg">
                    <h5>Trimite-ne un mesaj</h5>
                    <div class="sep red"></div>
                    <div class="margin-1"></div>
                    <form action="contact1.html" class="no-bottom">
                        <label for="name" class="sr-only">Nume</label>
                        <input type="text" class="underline" name="name" id="name" placeholder="Nume..." required>
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" class="underline" name="email" id="email" placeholder="Adresa de email..." required>
                        <label for="message" class="sr-only">Mesaj</label>
                        <textarea class="underline" name="message" id="message" cols="30" rows="6" placeholder="Mesaj..." required></textarea>
                        <div class="margin-1"></div>
                        <input type="submit" value="Trimite">
                    </form>
                </div>
                <div class="box white-bg text-center">
                    <h5>Conecteaza-te cu noi</h5>
                    <p>Urmareste-ne, trimite-ne idei</p>
                    <p class="social-share no-bottom">
                        <a href="#" class="social-link"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-link"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-link"><i class="fa fa-dribbble"></i></a>
                        <a href="#" class="social-link"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-link"><i class="fa fa-behance"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>