@{
    ViewData["Title"] = "Contact";
}

<main id="content" role="main">
    <div class="container container-boxes">
        <div class="row">
            <div class="col-sm-6">
                <div class="box white-bg" style="background-image:url(img/sample-inside.png);line-height:10px;">
                    <h3>Contacteaza-ne</h3>
                    <p>
                        Vrei să afli mai multe informații despre Photo Marathon sau pur si simplu ai sugestii și recomandări pentru noi? Scrie-ne!
                    </p>
                    <p class="small contact-address-info">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="~/images/deliam.jpg" />
                            </div>
                            <div class="col-md-8" style="padding-top:30px;">
                                <div><i class="fa fa-map-marker"></i> &nbsp; Delia Mihuț</div><br />
                                <div>
                                    <i class="fa fa-envelope"></i><a href="mailto:delia.mihut@photomarathon.ro" style="font-size:15px;"> &nbsp; delia.mihut@photomarathon.ro</a>
                                </div><br />
                                <div><i class="fa fa-phone"></i> &nbsp; 0727 551 117</div><br />
                            </div>
                        </div>
                    </p>
                    <p class="small contact-address-info">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="~/images/stef.jpg" />
                            </div>
                            <div class="col-md-8" style="padding-top:30px;">
                                <div><i class="fa fa-map-marker"></i> &nbsp; Ştefana Frîncu</div><br />
                                <div>
                                    <i class="fa fa-envelope"></i><a href="mailto:stefana.frincu@photomarathon.ro" style="font-size:15px;"> &nbsp; stefana.frincu@photomarathon.ro</a>
                                </div><br />
                                <div><i class="fa fa-phone"></i> &nbsp; 0752 171 812</div><br />
                            </div>
                        </div>
                    </p>
                    <p class="small contact-address-info">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="~/images/rux.jpg" />
                            </div>
                            <div class="col-md-8" style="padding-top:30px;">
                                <div><i class="fa fa-map-marker"></i> &nbsp; Ruxandra Zaharia</div><br />
                                <div>
                                    <i class="fa fa-envelope"></i><a href="mailto:ruxandra.zaharia@photomarathon.ro" style="font-size:15px;"> &nbsp; ruxandra.zaharia@photomarathon.ro</a>
                                </div><br />
                                <div><i class="fa fa-phone"></i> &nbsp; 0746 575 945</div><br />
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box white-bg">
                    <h5>Trimite-ne un mesaj</h5>
                    <div class="sep red"></div>
                    <div class="margin-1"></div>
                    <form action="contact1.html" class="no-bottom">
                        <label for="name" class="sr-only">Nume</label>
                        <input type="text" class="underline" name="name" id="name" placeholder="Nume..." required>
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" class="underline" name="email" id="email" placeholder="Adresa de email..." required>
                        <label for="message" class="sr-only">Mesaj</label>
                        <textarea class="underline" name="message" id="message" cols="30" rows="6" placeholder="Mesaj..." required></textarea>
                        <div class="margin-1"></div>
                        <input type="submit" value="Trimite">
                    </form>
                </div>
                <div class="box white-bg text-center">
                    <h5>Conecteaza-te cu noi</h5>
                    <p>Urmareste-ne, trimite-ne idei</p>
                    <p class="social-share no-bottom">
                        <a href="https://www.facebook.com/photomarathon.ro/" class="social-link"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/photomarathon.ro/" class="social-link"><i class="fa fa-instagram"></i></a>
                        <a href="https://ro.pinterest.com/photomarathon/" class="social-link"><i class="fa fa-pinterest"></i></a>
                        <a href="https://www.youtube.com/channel/UC7xgv1Th5Fd3YbrEYqzAoyA" class="social-link"><i class="fa fa-youtube"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>