@{
    ViewData["Title"] = "Parteneri";
}

<main id="content" role="main">
    <div class="container">

        <div class="margin-2"></div>

        <h6>Parteneri media</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
        </div>
        <div class="margin-4"></div>

        <h6>Susținători</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
        </div>
        <div class="margin-4"></div>

        <h6>Sponsori</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
        </div>
        <div class="margin-4"></div>

        <h6>Parteneri instituționali</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
        </div>

        <div class="margin-6"></div>

    </div>
</main>