@{
    ViewData["Title"] = "Parteneri";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" />


<main id="content" role="main">
    <div class="container partners">

        <div class="margin-4"></div>

        <h6 class="ubuntu-font">Parteneri media</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column">
                <img src="~/images/partners/logo_clujlife_monochrome.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/clujCOM.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/iloveclujrosu.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/logo_bulevard_alb_negru_final_2016.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/romania-pozitiva.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/logo_blog_de_fotografie.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/ZN_LOGO_PRINCIPAL.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/logo_clujlife_monochrome.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/clujCOM.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/iloveclujrosu.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/logo_bulevard_alb_negru_final_2016.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/romania-pozitiva.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/logo_blog_de_fotografie.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/ZN_LOGO_PRINCIPAL.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/logo_f64_mini_1_.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/comu-photo.png" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/totb.jpg" alt="">
            </div>
        </div>
        <div class="margin-4"></div>

        <h6 class="ubuntu-font">Susținători</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column">
                <img src="~/images/partners/Atelier.jpg" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/CFR.jpg" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/zorki.jpg" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/logo-bastion.jpg" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/urania-palace-cluj.jpg" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/Atelier.jpg" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/CFR.jpg" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/zorki.jpg" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/logo-bastion.jpg" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/partners/urania-palace-cluj.jpg" alt="">
            </div>
        </div>
        <div class="margin-4"></div>

        @*<h6 class="ubuntu-font">Sponsori</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
        </div>
        <div class="margin-4"></div>*@

        @*<h6 class="ubuntu-font">Parteneri instituționali</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
            <div class="client-column">
                <img src="~/images/sample-client.png" width="320" height="220" alt="">
            </div>
        </div>*@

        <div class="margin-6"></div>

    </div>
</main>
@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
    <script type="text/javascript" src="~/js/Partners/pageload.js"></script>
    <script>
        $(document).ready(function () {
            Partners.InitPage();
            Main.SetActiveMenuItem(7);
        })
    </script>
}