@{
    ViewData["Title"] = "Parteneri";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" />

<style>
    .ubuntu-font {
        color: black;
    }
</style>
<main id="content" role="main" style="background:white;">
    <div class="container partners">

        <div class="margin-4"></div>

        <h6 class="ubuntu-font">Parteneri media</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column">
                <a target="_blank" href="http://blogdefotografie.ro/">
                    <img src="~/images/partners/2017/media/Logo_blog_de_fotografie.jpg" width="320" height="160" alt="" style="max-width:90px;">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://www.romaniapozitiva.ro/ ">
                    <img src="~/images/partners/2017/media/Logo romania-pozitiva.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://www.ziare.com/ ">
                    <img src="~/images/partners/2017/media/Logo ziare.com.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://www.business24.ro/">
                    <img src="~/images/partners/2017/media/Business24.ro - AI.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="https://renasterea.ro/">
                    <img src="~/images/partners/2017/media/sigla_renasterea.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://www.ziarultimisoara.ro/">
                    <img src="~/images/partners/2017/media/sigla timisoara-ok_CMYK.jpg" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://debanat.ro/">
                    <img src="~/images/partners/2017/media/deBanat.ro - logo NEW.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://mondorama.ro/">
                    <img src="~/images/partners/2017/media/logo-mondorama-1200px-transp (mare).png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://citestealtfel.ro/">
                    <img src="~/images/partners/2017/media/Revista Alfel.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://www.zilesinopti.ro/timisoara">
                    <img src="~/images/partners/2017/media/zile.png" width="320" height="160" alt="">
                </a>
            </div>
        </div>
        <div class="margin-4"></div>

        <h6 class="ubuntu-font">Parteneri institutionali</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column" style="max-width: 75px;float: right;">
                <a target="_blank" href="http://www.primariatm.ro/">
                    <img src="~/images/partners/2017/inst/Primaria Timisoara.png" width="320" height="160" alt="" style="max-height: 105px;max-width: 50px;">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://www.cjtimis.ro/">
                    <img src="~/images/partners/2017/inst/Consiliul Judetean.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="https://arte.uvt.ro/">
                    <img src="~/images/partners/2017/inst/facultatea-de-arte-si-design-timisoara.jpg" width="320" height="160" alt="">
                </a>
            </div>
        </div>
        <div class="margin-4"></div>

        <h6 class="ubuntu-font">Sustinatori</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column">
                <a target="_blank" href="#">
                    <img src="~/images/partners/2017/sus/logo_darc_10x10cm.bmp" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://www.kissfm.ro/">
                    <img src="~/images/partners/2017/sus/Logo KISS Fm.png" width="320" height="160" alt="">
                </a>
            </div>
        </div>
        <div class="margin-4"></div>

        <h6 class="ubuntu-font">Parteneri</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column">
                <a target="_blank" href="https://www.photosetup.ro">
                    <img src="~/images/partners/2017/part/Photo Setup.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://cewe.ro/">
                    <img src="~/images/partners/2017/part/1280px-Cewe_new.svg.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="https://studentfest.ro">
                    <img src="~/images/partners/2017/part/profil_logo2.png" width="320" height="160" alt="">
                </a>
            </div>
        </div>
        <div class="margin-4"></div>

        <div class="margin-6"></div>

    </div>
</main>
@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
    <script type="text/javascript" src="~/js/Partners/pageload.js"></script>
    <script>
        $(document).ready(function () {
            Partners.InitPage();
            Main.SetActiveMenuItem(6);
        })
    </script>
}