@{
    ViewData["Title"] = "Parteneri";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" />


<main id="content" role="main">
    <div class="container partners">

        <div class="margin-4"></div>

        <h6 class="ubuntu-font">Sponsori</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column">
                <a target="_blank" href="https://www.daisler.ro/">
                    <img src="~/images/partners/20-Daisler.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://ro.cluj2015.eu/federatia-share-cluj-napoca.html">
                    <img src="~/images/partners/federatia-share.jpg" width="320" height="160" alt="">
                </a>
            </div>
        </div>
        <div class="margin-4"></div>

        <h6 class="ubuntu-font">Susținători</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column">
                <a target="_blank" href="http://www.primariaclujnapoca.ro/">
                    <img src="~/images/partners/primarie.jpg" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://www.atelier-cafe.ro/">
                    <img src="~/images/partners/Atelier.jpg" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <img src="~/images/partners/CFR.jpg" alt="">
            </div>
            <div class="client-column">
                <a target="_blank" href="https://www.facebook.com/zorkicafe">
                    <img src="~/images/partners/zorki.jpg" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="https://www.facebook.com/bastioncluj/">
                    <img src="~/images/partners/logo-bastion.jpg" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="https://www.facebook.com/uraniapalace/">
                    <img src="~/images/partners/urania-palace-cluj.jpg" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://www.atelier-cafe.ro/">
                    <img src="~/images/partners/Atelier.jpg" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <img src="~/images/partners/CFR.jpg" width="320" height="160" alt="">
            </div>
            <div class="client-column">
                <a target="_blank" href="https://www.facebook.com/zorkicafe">
                    <img src="~/images/partners/zorki.jpg" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="https://www.facebook.com/bastioncluj/">
                    <img src="~/images/partners/logo-bastion.jpg" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="https://www.facebook.com/uraniapalace/">
                    <img src="~/images/partners/urania-palace-cluj.jpg" width="320" height="160" alt="">
                </a>
            </div>
        </div>
        <div class="margin-4"></div>

        <h6 class="ubuntu-font">Parteneri de comunicare</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column">
                <img src="~/images/partners/kissfm.png" width="320" height="160" alt="">
            </div>
        </div>
        <div class="margin-4"></div>

        <h6 class="ubuntu-font">Parteneri media</h6>
        <div class="sep red margin-1"></div>
        <div class="owl-carousel owl-clients owl-round-arrows">
            <div class="client-column">
                <a target="_blank" href="http://www.clujlife.com/">
                    <img src="~/images/partners/logo_clujlife_monochrome.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="https://cluj.com/">
                    <img src="~/images/partners/clujCOM.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://ilovecluj.ro/">
                    <img src="~/images/partners/iloveclujrosu.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://revistabulevard.ro/">
                    <img src="~/images/partners/logo_bulevard_alb_negru_final_2016.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://www.romaniapozitiva.ro">
                    <img src="~/images/partners/romania-pozitiva.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://blogdefotografie.ro/">
                    <img src="~/images/partners/logo_blog_de_fotografie.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://www.zilesinopti.ro">
                    <img src="~/images/partners/ZN_LOGO_PRINCIPAL.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://blog.f64.ro/">
                    <img src="~/images/partners/logo_f64_mini_1_.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://www.comunitatefoto.ro/">
                    <img src="~/images/partners/comu-photo.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://totb.ro/">
                    <img src="~/images/partners/totb.jpg" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://www.art7.fm/">
                    <img src="~/images/partners/art7fm_pealb.png" width="320" height="160" alt="">
                </a>
            </div>
            <div class="client-column">
                <a target="_blank" href="http://www.ilikecluj.ro/">
                    <img src="~/images/partners/ilikecluj.png" width="320" height="160" alt="">
                </a>
            </div>
        </div>
        <div class="margin-4"></div>

        @*<h6 class="ubuntu-font">Parteneri instituționali</h6>
            <div class="sep red margin-1"></div>
            <div class="owl-carousel owl-clients owl-round-arrows">
                <div class="client-column">
                    <img src="~/images/sample-client.png" width="320" height="160" alt="">
                </div>
                <div class="client-column">
                    <img src="~/images/sample-client.png" width="320" height="160" alt="">
                </div>
                <div class="client-column">
                    <img src="~/images/sample-client.png" width="320" height="160" alt="">
                </div>
                <div class="client-column">
                    <img src="~/images/sample-client.png" width="320" height="160" alt="">
                </div>
                <div class="client-column">
                    <img src="~/images/sample-client.png" width="320" height="160" alt="">
                </div>
                <div class="client-column">
                    <img src="~/images/sample-client.png" width="320" height="160" alt="">
                </div>
            </div>*@

        <div class="margin-6"></div>

    </div>
</main>
@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
    <script type="text/javascript" src="~/js/Partners/pageload.js"></script>
    <script>
        $(document).ready(function () {
            Partners.InitPage();
            Main.SetActiveMenuItem(7);
        })
    </script>
}