@{
    ViewData["Title"] = "Termeni si conditii";
}

<main id="content" role="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2 class="single-title no-bottom ubuntu-font">Regulament</h2>
                <p class="post-meta"><span>Înscrieri</span></p>
                <p>
                    <ul>
                        <li>Maratonul fotografic se desfășoară pe 15 octombrie, între orele 11 și 19, și cuprinde două competiții distincte, una dedicată fotografilor amatori și alta dedicată fotografilor profesioniști.</li>
                        <li>Pentru fiecare dintre ele, înscrierea se face în perioada 14 septembrie - 12 octombrie, prin completarea formularului de la secțiunea Înscrieri.</li>
                        <li>Fiecare câmp din formular trebuie completat obligatoriu. Odată cu trimiterea formularului, participantul este de acord cu regulamentul competiției.</li>
                        <li>Pentru fiecare categorie de participanți, există 4 teme diferite care sunt alese în ziua evenimentului de către juriul competiției.</li>
                        <li>Limita minimă de vărstă a celor înscriși este de 14 ani.</li>
                        <li>Prin înscrierea la acest concurs, participantul acceptă faptul că fotografiile sale pot fi reproduse și difuzate. Materialele câștigătoare pot fi folosite și în promovarea edițiilor viitoare Photo Marathon.</li>
                    </ul>
                </p>
                <div class="margin-2"></div>
                <p class="post-meta"><span>Condiții de eligibilitate</span></p>
                <p>
                    <ul>
                        <li>Fiecare fotografie trebuie încărcată în format .jpeg/.jpg.</li>
                        <li>Dimensiunea maximă acceptată a unei fotografii este de 5 MB.</li>
                        <li>Fotografiile pot fi fie color, fie alb negru, însă nu trebuie modificate în programe de editare, excepție făcând modificările din aparat, în cazul fotografilor profesioniști.</li>
                        <li>Fotografiile trebuie încărcate fără ramă şi fără watermark.</li>
                        <li>Fotografiile pot fi realizate doar cu aparate foto, indiferent de marcă. Nu se acceptă fotografii realizate cu telefoane, tablete sau aparate de filmat.</li>
                        <li>Fotografiile pot fi făcute oriunde în orașul Cluj-Napoca, atât în exterior, cât și în interior (pe stradă, în restaurante, în parc etc).</li>
                        <li>Fotografiile trebuie să fie originale (realizate de către fiecare participant în parte) și să nu mai fi fost publicate anterior. </li>
                        <li>Nu vor fi acceptate fotografii care instigă la violență, au un caracter ofensator sau conțin publicitate implicită sau explicită.</li>
                        <li>Nu vor fi acceptate fotografii care provoacă prejudicii unor persoane sau unor instituții. </li>
                        <li>La sfârșitul evenimentului, în maximum 40 de minute, la locul stabilit împreună,  participanții vor preda câte o fotografie pentru fiecare temă din concurs.</li>
                        <li>Fiecare participant va preda pe stick 4 fotografii, câte una pentru fiecare categorie. </li>
                        <li>Fotografiile trebuie grupate într-un folder cu numele și prenumele participantului, precum și categoria pentru care s-a înscris în competiție (nume_prenume_categorie), iar fiecare poză trebuie să aibă în denumirea sa numele și prenumele participantului, precum și tema aferentă fiecărei poze (nume_prenume_temă).</li>
                    </ul>
                </p>
                <div class="margin-2"></div>
                <p class="post-meta"><span>Jurizare şi premiere</span></p>
                <p>
                    <ul>
                        <li>Juriul competiției este format din 3 fotografi.</li>
                        <li>Jurizarea fotografiilor va fi realizată imediat după ziua evenimentului, pe 16 octombrie.</li>
                        <li>Vor fi descalificați cei care nu predau fotografiile juriului în maximum 40 de minute de la ora terminării maratonului fotografic la locul stabilit împreună. </li>
                        <li>Vor fi descalificați cei care nu respectă condițiile de eligibilitate impuse de către competiție. </li>
                        <li>Premiile vor fi atribuite de către juriul competiției și vor urmări conceptul artistic, creativitatea și tehnica fotografică în funcție de cele două categorii precizate.</li>
                        <li>La categoria profesioniști, se va acorda un premiu I, un premiu II și un premiu III pentru fiecare temă din concurs.</li>
                        <li>La categoria amatori, se va acorda un premiu I și un premiul al juriului pentru fiecare temă din concurs.</li>
                        <li>Câștigătorii pentru fiecare categorie vor fi anunțati pe 16 octombrie pe pagina de Facebook Photo Marathon.</li>
                        <li>Fotografiile câștigătoare vor fi expuse timp de 2 săptămâni în expoziția Photo Marathon’16.</li>
                    </ul>
                </p>
                <p class="text-center"><a href="/Account/Register">Înscrie-te acum!</a></p>
            </div>
        </div>
    </div>
</main>