@model PhotoMarathon.Data.Entities.Photographer
@{
    ViewData["Title"] = "Înscriere";
    List<PhotoMarathon.Data.Entities.WorkShop> workShops = ViewBag.WorkShops;
}

@*<div id="hero" style="background:black;">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3>Pagină în construcție</h3>
                    <p>Reveniți mai târziu</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>*@

<main id="content" role="main">
    <div class="container container-boxes">
        <div class="row">
            <div class="col-sm-12">
                <div class="box white-bg black-input">
                    <h3>Înscrie-te</h3>
                    <p>
                        Completează formularul și înscrie-te la competiția Photo Marathon, unde cele mai bune fotografii sunt premiate și promovate în cadrul expoziției Photo Marathon’16! Mai mult decât atât, poți participa și la workshop-urile special pregătite pentru tine!
                    </p>
                    <div class="sep red"></div>
                    <div class="margin-1"></div>
                    <form asp-controller="Account" asp-action="Register"  method="post"  class="no-bottom">
                        <label asp-for="FirstName" class="sr-only">Nume</label>
                        <input asp-for="FirstName" class="underline" placeholder="Nume">
                        <span asp-validation-for="FirstName" class="input-validation-side"></span>
                        <label for="prename" class="sr-only">Prenume</label>
                        <input asp-for="LastName" class="underline" placeholder="Prenume">
                        <span asp-validation-for="LastName" class="input-validation-side"></span>
                        <label for="email" class="sr-only">Email</label>
                        <input asp-for="Email"  class="underline" placeholder="Adresa de email">
                        <span asp-validation-for="Email" class="input-validation-side"></span>
                        <label for="phone" class="sr-only">Nr. de telefon</label>
                        <input asp-for="PhoneNumber" class="underline" placeholder="Nr. de telefon">
                        <span asp-validation-for="PhoneNumber" class="input-validation-side"></span>
                        <div class="margin-1"></div>
                        <p for="fotop" class="radio-label">Fotograf amator</p>
                        <input type="radio" class="radio-input" name="fotop"/>
                        <p for="fotop" class="radio-label">Fotograf profesionist</p>
                        <input type="radio" class="radio-input" name="fotop"/>
                        <div class="margin-1"></div>
                        <p>Mă înscriu la:</p>
                        <p class="radio-label">Workshop</p>
                        <input type="radio" class="radio-input" id="register-type" name="registertype" />
                        <div class="form-group">
                            <select class="form-control">
                                @foreach (var workShop in workShops)
                                {
                                    <option value="@workShop.Id">@workShop.Name</option>
                                }
                            </select>
                        </div>
                        </br>
                        <p class="radio-label">Maratonul foto</p>
                        <input type="radio" class="radio-input" name="registertype" />
                        <div class="margin-1"></div>
                        <input type="submit" value="Trimite">
                    </form>
                    <p>Am citit regulamentul concursului de <a asp-controller="Home" asp-action="Rules">aici</a> si sunt de acord cu toate conditiile.</p>
                    <p>Vreau să primesc și alte informatii legate de Photo Marathon 2016</p>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="~/js/Account/register.min.js" asp-append-version="true"></script>