<!-- The overlay -->
<div id="myNav" class="overlay">
    <!-- Overlay content -->
    <div class="overlay-content">
        <a>Salut! Pregătim noile ediţii <b>Photo Marathon</b>, aşa că vom da startul înscrierilor curând!</a>
    </div>
</div>