@{
    ViewData["Title"] = "Expoziții";
}

<main id="content" role="main">
    <div class="container">
        <div class="margin-4"></div>
        <div class="inner">
            <div>
                <h4>Expoziții</h4>
                <p>Timp de 4 zile, maratonul de expoziții oferă o experiență unică vizitatorilor, adunând cele mai creative lucrări fotografice în spaţii neconvenționale din Cluj-Napoca. Cele 4 expoziții derulate atipic încurajează vizitatorii să pătrundă în universul fotografiei și să cunoască artistul prin intermediul creațiilor expuse, oferindu-le posibilitatea de a experimenta prin intermediul simţurilor arta fotografică.</p>
            </div>
            <div class="team-member">
                <a href="#" class="team-photo">
                    <img src="~/images/profile.jpg" width="640" height="640" alt="">
                    <span class="info"><span class="text"><span class="name">Joe Doe</span><span class="description">Partner</span></span></span>
                </a>
            </div>
            <div class="team-member">
                <a href="#" class="team-photo">
                    <img src="~/images/profile.jpg" width="640" height="640" alt="">
                    <span class="info"><span class="text"><span class="name">Andras Ladocsi</span><span class="description">Web Developer</span></span></span>
                </a>
            </div>
            <div class="team-member">
                <a href="#" class="team-photo">
                    <img src="~/images/profile.jpg" width="640" height="640" alt="">
                    <span class="info"><span class="text"><span class="name">Mike Gradski</span><span class="description">Web Designer</span></span></span>
                </a>
            </div>
            <div class="team-member">
                <a href="#" class="team-photo">
                    <img src="~/images/profile.jpg" width="640" height="640" alt="">
                    <span class="info"><span class="text"><span class="name">Matt Johnson</span><span class="description">UI/UX Designer</span></span></span>
                </a>
            </div>
            <div class="clear"></div>
            <div class="margin-2"></div>
        </div>
    </div>
</main>