@{
    ViewData["Title"] = "Expoziții";
}

<main id="content" role="main">
    <div class="container">
        <div class="col-md-3">
            <img src="~/images/expo/expoPage.jpg" class="img-responsive" />
        </div>
        <div class="col-md-9">
            <div class="margin-3"></div>
            <div class="inner">
                <div>
                    <h4 class="ubuntu-font">Expoziții</h4>
                    <p>Timp de 4 zile, maratonul de expoziții oferă o experiență unică vizitatorilor, adunând cele mai creative lucrări fotografice în spaţii neconvenționale din Cluj-Napoca. Cele 4 expoziții derulate atipic încurajează vizitatorii să pătrundă în universul fotografiei și să cunoască artistul prin intermediul creațiilor expuse, oferindu-le posibilitatea de a experimenta prin intermediul simţurilor arta fotografică.</p>
                </div>

                <div class="tab-container">
                    <ul class="tabs clearfix">
                        <li class="active team-member" style="margin:0 0.5em 0 !important;">
                            <a href="#tab-1" class="team-photo">
                                <img src="~/images/expo/AdiBulboacă.jpg" width="640" height="640" alt="">
                                <span class="info"><span class="text"><span class="name">Adi Bulboacă</span></span></span>
                            </a>
                        </li>
                        <li class="team-member" style="margin:0 0.5em 0 !important;">
                            <a href="#tab-2" class="team-photo">
                                <img src="~/images/expo/HajduTamás.jpg" width="640" height="640" alt="">
                                <span class="info"><span class="text"><span class="name">Hajdu Tamás</span></span></span>
                            </a>
                        </li>
                        <li class="team-member" style="margin:0 0.5em 0 !important;">
                            <a href="#tab-3" class="team-photo">
                                <img src="~/images/expo/AlexGâlmeanu.jpg" width="640" height="640" alt="">
                                <span class="info"><span class="text"><span class="name">Alex Gâlmeanu</span></span></span>
                            </a>
                        </li>
                        <li class="team-member" style="margin:0 0.5em 0 !important;">
                            <a href="#tab-4" class="team-photo">
                                <img src="~/images/expo/VladCupșa.jpg" width="640" height="640" alt="">
                                <span class="info"><span class="text"><span class="name">Vlad Cupșa</span></span></span>
                            </a>
                        </li>
                    </ul>
                    <div id="tab-1" class="tab_content" style="display:block">
                        <h5 class="ubuntu-font">Omul din tren – Adi Bulboacă – Gara mică</h5>
                        <p>Adi Bulboacă iubește trenurile. A petrecut 30 de zile în peste 100 de trenuri și a adunat mii de cadre cu poveștile călătorilor. De cele mai multe ori, trenul îl poartă către un spectacol de teatru, acolo unde îl privește din aparat. Expoziția lui Adi aduce în atenția publicului pasiunea sa pentru trenuri și cadrele pe care le-a surprins în călătoria pe șine.</p>
                    </div>
                    <div id="tab-2" class="tab_content" style="display:none">
                        <h5 class="ubuntu-font">Greatest clicks – Hajdu Tamás – Turnul croitorilor</h5>
                        <p>Hajdu Tamás este un vânător a cărui vigilenţă pentru detaliile ascunse dincolo de învelişul aparentei banalităţi pare să se ascută cu fiecare ieşire din casă. În fotografiile lui, realitatea îşi dezvăluie misterele, poezia, cacofoniile, absurdul şi jocurile subtile, pe care numai privirea ce transformă observaţia în artă le poate recupera din efemeritate.</p>
                    </div>
                    <div id="tab-3" class="tab_content" style="display:none">
                        <h5 class="ubuntu-font">Cinemagraphs – Alex Gâlmeanu – Urania Palace</h5>
                        <p>Portretele sale animate scot din rutină privirea obișnuită, iar ritmul alert al secvențelor dezvăluie personaje misterioase care spun povești nesfârșite. Cinemagraphs este un experiment ce invită vizitatorii să interacționeze cu arta fotografică într-un mod inedit.</p>
                    </div>
                    <div id="tab-4" class="tab_content" style="display:none">
                        <h5 class="ubuntu-font">Obiectiv de eveniment – Vlad Cupșa – Atelier Cafe</h5>
                        <p>
                            Expoziția lui Vlad reprezintă o adevărată provocare, după sute de galerii create și peste o sută de mii de poze editate, la întâlniri nocturne cu Lightroom și cafea.
                            Stări oscilante, emoții care copleșesc la o simplă privire, producții de scenă impunătoare și artiști fericiți sunt elementele care definesc imaginile care-i vor uimi pe toți cei care trec pragul Atelier Cafe.
                        </p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="margin-3"></div>
        </div>
    </div>
</main>
@section scripts{
    <script>
        $(document).ready(function () {
            Main.SetActiveMenuItem(2);
        })
    </script>
}