@model PhotoMarathon.Data.Entities.Cms.Page
@{
    ViewData["Title"] = "Maraton de fotografie";
}

<main id="content" role="main">
    <div class="container">
        <div class="margin-5"></div>
        <div class="col-sm-8">
            @foreach (var sectionIter in Model.Sections)
            {
                <h6 class="heading"><span>@sectionIter.Title</span></h6>
                @Html.Raw(sectionIter.Content)
            }
            <p><a asp-controller="Account" asp-action="Register">Înscrie-te acum!</a>
            </p>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="~/images/marathonp.jpg" />
            <div class="margin-1"></div>
            <img class="img-responsive" src="~/images/marathonp2.jpg" />
            <div class="margin-1"></div>
            <img class="img-responsive" src="~/images/marathonp3.jpg" />
        </div>

    </div>
</main>
@section scripts{
    <script>
        $(document).ready(function () {
            Main.SetActiveMenuItem(4);
        })
    </script>
}