@{
    ViewData["Title"] = "Maraton de fotografie";
}

<main id="content" role="main">
    <div class="container">
        <div class="margin-5"></div>
        <div class="col-sm-8">
            <h6 class="heading"><span>Maratonul foto</span></h6>
            <p>Este cea mai mare competiţie foto din zona Transilvaniei, care oferă atât fotografilor amatori, cât şi celor profesionişti oportunitatea de a-şi testa limitele şi creativitatea, câştigând <strong>premii în valoare totală de 6.000 lei.</strong></p>
            
            <h6 class="heading"><span>Desfășurarea Maratonului</span></h6>
            <p>Maratonul foto se desfășoară într-o singură zi, timp de 8 ore şi cuprinde două competiţii care se vor desfăşura în paralel: una dedicată fotografilor amatori şi una dedicată fotografilor profesionişti. Cei implicaţi în competiţie au la dispoziţie 8 ore pentru a realiza 4 fotografii, câte una pentru fiecare categorie, propusă de juriu şi  trasă la sorţi în ziua evenimentului.</p>

            <h6 class="heading"><span>Informații</span></h6>
            <p>Fotografii înscrişi în Maraton trebuie să ţină cont de faptul că imaginile trebuie predate în maximum 8 ore de la startul competiţiei, fără a fi prelucrate în programele de editare (Photoshop, Indesign, Corel etc.). Sunt permise doar editările din aparat, în cazul competiţiei pentru fotografii profesionişti.</p>

            <p>Pe lângă premiile în valoare totală de 6.000 de lei, cele mai bune fotografii înscrise vor fi expuse timp de 2 săptămâni în cadrul expoziţiei PHOTO MARATHON’16.</p>

            <p>Pentru mai multe detalii, citește <a asp-controller="Home" asp-action="Rules">regulamentul competiției!</a></p>
            <p><a asp-controller="Account" asp-action="Register">Înscrie-te acum!</a></p>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="~/images/marathonp.jpg" />
            <div class="margin-1"></div>
            <img class="img-responsive" src="~/images/marathonp2.jpg" />
            <div class="margin-1"></div>
            <img class="img-responsive" src="~/images/marathonp3.jpg" />
        </div>

    </div>
</main>
@section scripts{
    <script>
        $(document).ready(function () {
            Main.SetActiveMenuItem(4);
        })
    </script>
}