@{
    ViewData["Title"] = "Maraton de fotografie";
}

<div id="myNav" class="overlay">

    <!-- Overlay content -->
    <div class="overlay-content">
        <a>Pagină în construcție!</a>
        <a asp-controller="Home" asp-action="Index">Înapoi la site -></a>
    </div>

</div>