@{
    ViewData["Title"] = "Workshop-uri";
}

<main id="content" role="main">
    <div class="container">
        <div class="col-md-9">
            <div class="margin-3"></div>
            <div>
                <h4 class="ubuntu-font">Workshop-uri</h4>
                <p>Pe parcursul unei singure zile, timp de 4 ore, maratonul de workshop-uri oferă fotografilor amatori și profesioniști oportunitatea de a participa la 3 ateliere și o dezbatere, care au drept scop dezvoltarea și aprofundarea cunoștințelor legate de tehnicile și tacticile folosite în domeniul fotografic.</p>
            </div>
            <div class="tab-container vertical" id="work-shop-container">
                <ul class="tabs clearfix">
                    <li class="active"><a href="#tab-1">Workshop 1</a></li>
                    <li><a href="#tab-2">Workshop 2</a></li>
                    <li><a href="#tab-3">Workshop 3</a></li>
                    <li><a href="#tab-4">Dezbatere</a></li>
                </ul>
                <div id="tab-1" class="tab_content" style="display:block">
                    <h5>Fotografia portret ca o artă – Adi Bulboacă</h5>
                    <p>Adi Bulboacă este unul dintre cei mai apreciați fotografi de teatru din România, care a fotografiat inclusiv spectacole ale regizorului american, Robert Wilson. Documentează teatrul contemporan într-un stil propriu, decupând cadre și transformându-le în fotografii memorabile. Cele mai multe lucrări ale sale surprind protagoniștii spectacolelor, creând astfel adevărate povești vizuale. Vino la workshop-ul despre fotografia portret și află de ce trebuie să ții cont atunci când realizezi headshot-uri, care este cel mai bun echipament sau care sunt planurile și unghiurile optime în realizarea acestora.  </p>
                    <p><a asp-action="Register" asp-controller="Account">Înscrie-te acum la Workshop!</a></p>
                </div>
                <div id="tab-2" class="tab_content" style="display:none">
                    <h5>Tips&tricks în fotografia de eveniment – Vlad Cupșa</h5>
                    <p>Vlad Cupșa e fotograf profesionist, cu un portofoliu care impresionează calitativ și cantitativ crearea amintirilor la peste 700 de evenimente publice și corporate, printre care Electric Castle, TEDxEroilor, TIFF.</p>
                    <p>Vino să îl cunoști pe Vlad și să afli tot ceea ce te-ar putea interesa despre fotografie în general și despre fotografia de eveniment în special. Canon sau Nikon? Fotografii color sau alb-negru? Ce face un obiectiv Nikon 70-200mm f/2.8 și nu face un Nikon 14-24mm f/2.8? Ce înseamnă distanță focală și cum înveți post-producție? Sau pur și simplu, cum poți folosi camera foto a telefonului din buzunar la capacitate maximă.</p>
                    <p><a asp-action="Register" asp-controller="Account">Înscrie-te acum la Workshop!</a></p>
                </div>
                <div id="tab-3" class="tab_content" style="display:none">
                    <h5>Digital identities in mobile photography. A how-to #instagram - Vlad Berte</h5>
                    <p>Pentru instagrammerul Vlad Berte postările live sau fotografiile spontane sunt cele mai importante. Contrastul, nuanțele și accentele puternice de culoare sunt trăsături care îi definesc fotografia de Instagram. Workshop-ul urmărește să ofere o introspecție în interacțiunea Social Media vs. Personal space. Un soi de managament  al profilului public, al calității fotografice și al parcursului constant în ceea ce privește feed-ul public. Vino la workshop-ul despre fotografia de Instagram și află detalii în legătură cu abordarea fotografiei de mobil și aplicabilitatea ei în diverse situații sau direcții de expunere în Social Media. </p>
                    <p><a asp-action="Register" asp-controller="Account">Înscrie-te acum la Workshop!</a></p>
                </div>
                <div id="tab-4" class="tab_content" style="display:none">
                    <h5>Fotografia documentară - ce? unde? cum?</h5>
                    <p>Vino și tu la dezbatere și află ce anume definește fotografia documentară, unde se regăsește acest tip de fotografie și cum se realizează un proiect documentar. Fotografia documentară spune de fiecare dată o poveste emoționantă despre oameni. Participă la dezbatere și află de la Andreea Câmpean, Călin Ilea, Roxi Pop și Vakarcs Loránd mai multe despre caracterul documentar al unei fotografii!</p>
                    <p><a asp-action="Register" asp-controller="Account">Înscrie-te acum la Dezbatere!</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img src="~/images/workshop/adi.jpg" class="img-responsive" />
            <div class="margin-1"></div>
            <img src="~/images/workshop/vlad2.jpg" class="img-responsive" />
            <div class="margin-1"></div>
            <img src="~/images/workshop/vlad.JPG" class="img-responsive" />
        </div>
    </div>
</main>

@section scripts{
    <script>
        $(document).ready(function () {
            Main.SetActiveMenuItem(3);
        })
    </script>
}