@{
    ViewData["Title"] = "Workshop-uri";
}

<div id="hero" style="background:black;">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3>Pagină în construcție</h3>
                    <p>Reveniți mai târziu</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<main id="content" role="main">
    <div class="container">
        <div style="height:500px;"></div>
    </div>
</main>